.employment-filter-container {
  display: flex;
  flex-direction: column;
}

.employment-type-text {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .employment-type-text {
    font-size: 18px;
  }
}

.employment-type-list-container {
  padding-left: 0px;
  list-style-type: none;
  margin-top: 0px;
}

.employment-list-item {
  margin-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .employment-list-item {
    margin-bottom: 16px;
  }
}

.employment-checkbox {
  height: 12px;
  width: 12px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .employment-checkbox {
    height: 16px;
    width: 16px;
    margin-right: 15px;
  }
}

.employment-type-item {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .employment-type-item {
    font-size: 15px;
  }
}
