.jobs-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  max-width: 1110px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.jobs-profile-filters-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-bar-container {
  display: flex;
  width: 100%;
  border: 1px solid #64748b;
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 20px;
}

.job-search-input-bar {
  flex-grow: 1;
  height: 32px;
  background-color: transparent;
  padding: 5px 10px 5px 10px;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
}

.job-search-icon-btn {
  border: none;
  outline: none;
  cursor: pointer;
  width: 40px;
  background-color: #2c364c;
}

.search-icon {
  height: 15px;
  width: 15px;
  color: #ffffff;
}

.profile-container {
  display: flex;
  flex-direction: column;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  border-radius: 15px;
  padding: 10px;
  height: 130px;
  margin-bottom: 20px;
}

.profile-image {
  width: 40px;
}

.person-name {
  color: #6366f1;
  font-family: 'Roboto';
  font-size: 15px;
}

.person-role {
  color: #2c364c;
  font-family: 'Roboto';
  font-size: 12px;
  margin-top: 0px;
}

.profile-failure-conatiner {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-retry-btn {
  background-color: #4f46e5;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  height: 25px;
  width: 70px;
  border-radius: 5px;
}

.separator {
  width: 100%;
  border: 1px solid #cbd5e1;
  margin-top: 0px;
  margin-bottom: 20px;
}

.jobs-list-container {
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.no-jobs-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 230px;
  margin: auto;
  margin-top: 20px;
}

.no-jobs-img {
  height: 150px;
  width: 200px;
}

.no-jobs-title {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
}

.no-jobs-para {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 13px;
  text-align: center;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
